@model InventoryLaptop
@{
    ViewData["Title"] = "envanterLaptopEdit";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!-- start: page -->
<form class="ecommerce-form action-buttons-fixed" role="form" asp-action="envanterLaptopEdit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <section class="card card-modern card-big-info">
                <div class="card-body">

                    <div class="text-center mb-4">
                        <h2 class="card-big-info-title">Envanter Laptop Bilgileri</h2>
                        <p class="card-big-info-desc">Laptop bilgisayar bilgilerini tüm ayrıntılar ve gerekli bilgilerle birlikte buraya ekleyin.</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label class="control-label">Markası</label>
                                <input type="text" asp-for="BrandName" class="form-control form-control-modern @(Model.Active ? "" : "bg-light")" />
                                <span asp-validation-for="BrandName"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Ram</label>
                                <input type="number" asp-for="Ram" class="form-control form-control-modern" />
                                <span asp-validation-for="Ram"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">İşletim sistemi</label>
                                <input type="text" asp-for="Os" class="form-control form-control-modern" />
                                <span asp-validation-for="Os"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">İşlemci</label>
                                <input type="text" asp-for="Cpu" class="form-control form-control-modern" />
                                <span asp-validation-for="Cpu"></span>
                            </div>

                           

                        </div>

                        <div class="col-lg-6">

                            <div class="form-group">
                                <label class="control-label">HDD Depolama</label>
                                <input type="text" asp-for="StorageHDD" class="form-control form-control-modern" required />
                                <span asp-validation-for="StorageHDD"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">SSD Depolama</label>
                                <input type="text" asp-for="StorageSDD" class="form-control form-control-modern" />
                                <span asp-validation-for="StorageSDD"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">İçinde Bulunan Programlar</label>
                                <input type="text" asp-for="Programs" class="form-control form-control-modern" />
                                <span asp-validation-for="Programs"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Yanında Bulunan Materyaller </label>
                                <input type="text" asp-for="Material" class="form-control form-control-modern" />
                                <span asp-validation-for="Material"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Durum</label>
                                <div class="form-check">
                                    <input type="checkbox" asp-for="Active" class="form-check-input" />
                                </div>
                            </div>


                        </div>
                    </div>

                

                </div>

            </section>
        </div>
    </div>

    <input type="hidden" asp-for="InventoryId" />

    <div class="row justify-content-center mt-4">
        <div class="col-lg-6 text-center">
            <button type="submit" value="KAYDET" class="btn btn-success btn-lg btn-block" asp-action="envanterLaptopEdit">
                <i class="bx bx-save"></i> Envanter Laptopu Güncelle
            </button>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-lg-6 text-center">
            <a asp-action="envanterLaptopIndex" class="btn btn-light btn-lg btn-block">
                Geri
            </a>
        </div>
    </div>
</form>
<!-- end: page -->
