@model IEnumerable<UQuestion>

@if (Model != null && Model.Any())
{
    @foreach (var questionId in ViewBag.Sorular)
    {
        <div class="mb-3">
            <label class="form-label">@questionId.Question</label>
            <input type="hidden" name="QuestionID" value="@questionId.QuestionID" />
            <input type="text" name="Answers" class="form-control rounded-start" placeholder="Cevap giriniz">
            <input type="number" name="Points" class="form-control rounded-end" min="0" max="100" placeholder="Puan">
        </div>
    }

}
else
{
    <p class="text-danger">Sorular yüklenemedi.</p>
}
a