@{
    ViewData["Title"] = "deneme";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}



<div class="row row-gutter-sm mb-5">
  
    <div class="col-lg-3-5 col-xl-4-5">
        <div class="row row-gutter-sm">

           
          
            <div class="col-sm-6 col-xl-3">
                <div class="card card-modern card-modern-alt-padding">
                    <div class="card-body bg-light">
                        <div class="image-frame mb-2">
                            <div class="image-frame-wrapper">
                                <a href="ecommerce-products-form.html"><img src="~/img/products/product-8.jpg" class="img-fluid" alt="Product Short Name" /></a>
                            </div>
                        </div>
                        <small><a href="ecommerce-products-form.html" class="ecommerce-sidebar-link text-color-grey text-color-hover-primary text-decoration-none">CATEGORY</a></small>
                        <h4 class="text-4 line-height-2 mt-0 mb-2"><a href="ecommerce-products-form.html" class="ecommerce-sidebar-link text-color-dark text-color-hover-primary text-decoration-none">Product Short Name</a></h4>
                       
                       
                    </div>
                </div>
            </div>

        </div>
     
    </div>
</div>
<!-- end: page -->