@model IEnumerable<Departman>
@using HD_Veriler.Helpers
@using Microsoft.EntityFrameworkCore
@{
    ViewData["Title"] = "PuanlamaSistemiIndex";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
    var context = DbContextHelper.CreateContext();
}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @foreach (var item in Model)
    {
        var userCount = await context.Users.CountAsync(u => u.DepartmanID == item.DepartmanID);
        var departmentLider = await context.Users.SingleOrDefaultAsync(u => u.LeadingDepartmentID == item.DepartmanID);
        var liderNameSurname = departmentLider?.NameSurname;

        <div class="col mb-4 mr-4">
            <!-- Kartları saran div'e mr-4 sınıfını ekledik -->
            <a asp-action="PersonelDetailsIndex" asp-controller="Score" asp-route-departmanId="@item.DepartmanID" class="text-decoration-none">
                <div class="card border-0 shadow-sm" style="background-color: #f8f9fa;">
                    <div class="card-body">
                        <h5 class="card-title mb-3 text-primary">Departman: @item.DepartmanName</h5>
                        <p class="card-text mb-0">Lider: @liderNameSurname</p>
                        <p class="card-text mb-0">Personel Sayısı: @userCount</p>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <button type="button" class="btn btn-lg btn-danger rounded-pill">Detaylar</button>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
