@model HD_Veriler.Models.Score

@{
    ViewData["Title"] = "ScoreIndex";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm rounded">
                <div class="card-body">
                    <h2 class="text-center mb-4">Kullanıcı: @ViewBag.UserName</h2>

                    <form role="form" asp-action="ScoreIndex" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserID" />
                        @foreach (var soru in ViewBag.Sorular)
                        {
                            <div class="mb-3">
                                <!-- Soru alanı -->
                                <div class="form-group">
                                    <label class="control-label">Soru: @soru.Question</label>
                                    <!-- Her bir soru için gizli input olarak QuestionID'yi alın -->
                                    <input type="hidden" name="QuestionIDs[]" value="@soru.QuestionID" />
                                </div>

                                <!-- Cevap alanı -->
                                <div class="form-group">
                                    <label class="control-label">Cevap</label>
                                    <!-- Her bir soru için Answer inputunu alın -->
                                    <textarea name="Answers[]" class="form-control form-control-modern" rows="5"></textarea>
                                    <span class="text-danger"></span>
                                </div>

                                <!-- Puan alanı -->
                                <div class="form-group">
                                    <label class="control-label">Puan</label>
                                    <!-- Her bir soru için Point inputunu alın -->
                                    <input name="Points[]" class="form-control form-control-modern" type="number" min="0" max="100" placeholder="Puan">
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        }


                        <div class="row justify-content-center mt-4">
                            <div class="col-lg-6 text-center">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    <i class="bx bx-save"></i> Tüm Puanları Kaydet
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
