@model ProjectCategory
@using HD_Veriler.Helpers;
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "ProjectCategoryDelete";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
    var context = DbContextHelper.CreateContext();
}

<!-- start: page -->
<section class="card">
    <header class="card-header">
        <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
        </div>
        <h2 class="card-title">Proje Kategori Bilgileri</h2>
    </header>
    <div class="card-body">
        <table class="table table-bordered table-striped mb-0" id="datatable-editable" style="font-size: 15px;">
            <thead>
                <tr>
                    <th>Kategori Adı</th>
                    <th>Aktif mi?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.ProjeCategoryName)</td>
                    <td>@Html.DisplayFor(model => model.Active)</td>
                </tr>
            </tbody>
        </table>
        <form asp-action="DepartmanDelete" method="post">
            <input type="hidden" asp-for="ProjeCategoryID" />
            <div class="row mt-3">
                <div class="col-12">
                    <div class="text-center">
                        <input type="submit" value="Proje Kategorisini Sil" onclick="return confirm('Silmek istediğinden emin misin?')" class="btn btn-danger">
                        <a asp-action="ProjectCategoryIndex" class="btn btn-secondary ml-2">Geri</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

